openapi: 3.1.0
info:
  title: Blockchain Data
  version: 1.0.0
paths:
  # NFT API
  /v4/data/collections:
    get:
      $ref: categories/blockchain_data/paths/v1_data_collections_get.yml
  /v4/data/metadata:
    get:
      $ref: categories/blockchain_data/paths/v1_data_metadata_get.yml
  /v4/data/owners:
    get:
      $ref: categories/blockchain_data/paths/v1_data_owners_get.yml
  /v4/data/owners/address:
    get:
      $ref: categories/blockchain_data/paths/v1_data_owners_address_get.yml

  # Token API
  /v4/data/tokens:
    get:
      $ref: categories/blockchain_data/paths/v1_data_tokens_get.yml

  # Wallet API
  /v4/data/balances:
    get:
      $ref: categories/blockchain_data/paths/v1_data_balances_get.yml
  /v4/data/utxos:
    get:
      $ref: categories/blockchain_data/paths/v1_data_utxos_get.yml
  /v4/data/utxos/batch:
    post:
      $ref: categories/blockchain_data/paths/v1_data_utxos_batch_post.yml

  # Transactions API
  /v4/data/transactions:
    get:
      $ref: categories/blockchain_data/paths/v1_data_transactions_get.yml
  /v4/data/transactions/hash:
    get:
      $ref: categories/blockchain_data/paths/v1_data_transactions_hash_get.yml

  # DeFi API
  /v4/data/events:
    get:
      $ref: categories/blockchain_data/paths/v1_data_events_get.yml
  /v4/data/blocks:
    get:
      $ref: categories/blockchain_data/paths/v1_data_blocks_get.yml
  /v4/data/blocks/latest:
    get:
      $ref: categories/blockchain_data/paths/v1_data_blocks_latest_get.yml

  # Data API (old)
  /v3/data/collections:
    get:
      $ref: categories/blockchain_data/paths/v3_data_collections_get.yml
  /v3/data/metadata:
    get:
      $ref: categories/blockchain_data/paths/v3_data_metadata_get.yml
  /v3/data/balances:
    get:
      $ref: categories/blockchain_data/paths/v3_data_balances_get.yml
  /v3/data/owners:
    get:
      $ref: categories/blockchain_data/paths/v3_data_owners_get.yml
  /v3/data/owners/address:
    get:
      $ref: categories/blockchain_data/paths/v3_data_owners_address_get.yml
  /v3/data/transactions:
    get:
      $ref: categories/blockchain_data/paths/v3_data_transactions_get.yml
  /v3/data/transactions/hash:
    get:
      $ref: categories/blockchain_data/paths/v3_data_transactions_hash_get.yml
  /v3/data/events:
    get:
      $ref: categories/blockchain_data/paths/v3_data_events_get.yml
  /v3/data/blocks:
    get:
      $ref: categories/blockchain_data/paths/v3_data_blocks_get.yml
  /v3/data/blocks/latest:
    get:
      $ref: categories/blockchain_data/paths/v3_data_blocks_latest_get.yml
  /v3/data/tokens:
    get:
      $ref: categories/blockchain_data/paths/v3_data_tokens_get.yml
  /v3/data/utxos:
    get:
      $ref: categories/blockchain_data/paths/v3_data_utxos_get.yml
  /v3/data/utxos/batch:
    post:
      $ref: categories/blockchain_data/paths/v3_data_utxos_batch_post.yml
servers:
  - url: https://api.tatum.io/
components:
  securitySchemes:
    X-API-Key:
      $ref: components/migrated.yml#/components/securitySchemes/X-API-Key
